@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/keyframes" as *;

.editWarehouse {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  position: relative;
  bottom: 4rem;
  background-color: $global-color;
  border-radius: 5px;

  // error messages styles
  &__error {
    position: absolute;
    margin-top: 0.12rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__error-msg {
    animation: fadeIn 0.3s ease-in-out;
    font-weight: 400;
    font-size: 0.75rem;
    transition: all 0.3s;
    &:hover {
      filter: opacity(0.7);
    }
  }

  &__error-icon {
    animation: fadeIn 0.5s ease-in-out;
    height: 1rem;
  }

  &__header {
    // font-size: 32px;
    padding: 1.5rem 2rem 1.2rem 2rem;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    border-bottom: 1px solid $outline-color;
  }

  &__back-icon {
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      filter: opacity(0.7);
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }

  &__warehouse-details,
  &__contact-details {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding-bottom: 1.5rem;
    padding: 1.5rem 2rem 1.8rem 2rem;
    @include tablet {
      margin: 2rem 0;
      padding: 0 2rem 0 2rem;
      flex: 1;
    }
  }

  &__warehouse-details {
    border-bottom: 1px solid $outline-color;
    @include tablet {
      border-bottom: none;
      border-right: 1px solid $outline-color;
    }
  }
  &__contact-details {
    border-bottom: none;
  }

  &__sub-header {
    margin-bottom: 0.5rem;
  }

  &__input-label {
    font-weight: 600;
    font-size: 13px;
  }
  &__input {
    margin-top: 0.22rem;
    height: 2.25rem;
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    border: 1px solid $outline-color;
    font-family: "Titillium Web", Times, serif;
    transition: all 0.3s;
    &--invalid {
      border-color: #c94515;
    }
    &:hover {
      border-color: $primary-cta-color;
    }

    &::placeholder {
      color: $table-placeholder-text;
      font-size: 0.8125rem;
    }
    &:focus {
      outline: none;
      border-color: $primary-cta-color;
    }
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $page-background;
    padding: 1rem 2rem;
    gap: 1rem;
    @include tablet {
      justify-content: end;
    }
  }
  &__form-button {
    flex: 1;
    padding: 0.5rem 0;
    border-radius: 20px;
    border: none;
    font-size: 0.8125rem;
    font-family: "Titillium Web", Times, serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &--primary {
      background-color: $primary-cta-color;
      color: $global-color;
      border: none;
      &:hover {
        background-color: #232940;
      }
    }
    &--secondary {
      border: 1px solid $outline-color;
      background-color: transparent;
      color: $table-placeholder-text;
      &:hover {
        background-color: #eaeaea;
      }
    }
    @include tablet {
      flex: initial;
      padding: 0.5rem 1rem;
    }
  }

  @include tablet {
    bottom: 5.2rem;
    width: calc(100% - 4rem);
    padding-bottom: 0;
  }

  @include desktop {
    width: calc($desktop-breakpoint - 4rem);
  }
}
