@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.label {
  color: #5c667e;
  font-size: 0.8rem;
  padding-bottom: 0.33rem;
  font-size: 0.6875rem;

  @include tablet {
    display: none;
  }
}

.item-link {
  text-decoration: none;

  &__name {
    display: flex;

    @include tablet {
      width: 20%;
    }
  }
}

.item {
  border-top: 1px solid $outline-color;
  margin-top: 1rem;
  color: $primary-text-color;

  @include tablet {
    margin-top: 0;
    border-top: none;
    border-bottom: 1px solid $outline-color;
    display: flex;
    display: none;
  }

  &--border {
    @include tablet {
      border-bottom: 1px solid $outline-color;
    }
  }
  &--fullscreen {
    display: none;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(46, 102, 229, 0.07);
    }

    @include tablet {
      display: flex;
      padding: 0.4rem 2rem;
      align-items: center;
    }
  }
}

.item-wrapper {
  display: flex;
  justify-content: space-around;

  @include tablet {
    justify-content: initial;
  }
}

.item-name-container {
  width: 10rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.information-container {
  width: 12rem;

  @include tablet {
    display: flex;
    margin-left: 8rem;
  }
}

.name-container {
  padding: 0.8rem;

  @include tablet {
    width: 20%;
  }

  &__title-inv {
    color: #2e66e5;
    font-weight: 700;
    align-self: center;
    font-size: 0.875rem;
    transition: all 0.3s;

    &:hover {
      text-decoration: underline;
      padding-right: 0.2rem;
    }
  }
}

.category-container {
  padding: 0.8rem;

  @include tablet {
    width: 20%;
    padding-left: 0;
  }

  &__title {
    font-size: 0.875rem;
  }
}

.quantity-container {
  padding: 0.8rem;
  padding-left: 0;

  @include tablet {
    width: 20%;
    padding-left: 0.8rem;
    font-size: 0.875rem;
  }

  &__amount {
    font-size: 0.875rem;
  }
}

.status-container {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;

  @include tablet {
    width: 20%;
    // padding-left: 0.6rem;
  }

  &__title {
    &--instock {
      color: #158463;

      font-size: 0.75rem;
      font-weight: 700;
      width: fit-content;
      padding: 0.25rem 0.5rem;
      border-radius: 11px;
      background: rgba(21, 132, 99, 0.07);
    }
    &--outstock {
      color: #c94515;
      font-size: 0.75rem;
      font-weight: 700;
      width: fit-content;
      padding: 0.25rem 0.5rem;
      border-radius: 11px;
      background: rgba(201, 69, 21, 0.07);
    }
  }
}

.location-container {
  // padding-bottom: 0.8rem;

  @include tablet {
    width: 20%;
    padding-left: 0.6rem;
  }

  &__title {
    font-size: 0.875rem;
  }
}

.button-container {
  width: 80%;
  margin: 0 auto;
  padding: 0 0.8rem;
  display: flex;
  justify-content: space-between;

  @include tablet {
    width: 20%;
    justify-content: center;
    align-items: center;
  }
}

.action-icon {
  border-radius: 22px;
  transition: all 0.3s;
  padding: 0.2rem;
  &:hover {
    background-color: rgba(46, 102, 229, 0.07);
  }
  @include tablet {
    height: 2rem;
    margin: 0 0 0 1rem;
  }
}

.vector-icon {
  width: 1rem;
}
