@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;

.add {
  bottom: 5rem;
  position: relative;
  background-color: $global-color;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);

  @include tablet {
    margin: 2rem;
    bottom: 7rem;
  }

  @include desktop {
    width: calc($desktop-breakpoint - 4rem);
    margin: 0 auto;
    bottom: 5rem;
  }
}

.add-header {
  display: flex;
  border-bottom: 1px solid #bdc5d5;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0rem 2rem;

  @include tablet {
    height: 5rem;
  }
}

.add-header__container {
  display: flex;
  align-items: baseline;
}

.add-header__backbutton {
  transition: all 0.3s;
  &:hover {
    filter: opacity(0.7);
  }
}

.add-header__title {
  padding: 2rem 0.5rem;

  @include tablet {
    margin-top: 0.5rem;
  }
}

.invitem {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.invitem-details {
  padding: 2rem;

  @include tablet {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #bdc5d5;
  }
}

.invitem-details__availability {
  padding: 2rem;

  @include tablet {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.invitem-details__quantity{

}

.invitem-details__subtitle {
  color: $table-placeholder-text;

  margin-top: 1rem;
}

.invitem-details__header {
  margin-bottom: 2rem;
}

.invitem-details__box {
  @include tablet {
    width: 100%;
  }
}

.invitem-details__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $outline-color;
  border-radius: 22px;
  margin: 0.3rem auto;
  padding-left: 1rem;
  height: 2.5rem;
  padding-top: 0.3rem;

  @include tablet {
  }
}

.invitem-details__description {
  width: 100%;
}

.invitem-details__forml {
  height: 10rem;
}

.invitem-details__name--large {
  width: 95%;
  outline: none;
}

.invitem-details__name {
  border-style: none;
  color: $primary-text-color;
  font-size: 0.8rem;
  width: 95%;

  &::placeholder {
    font-family: "Titillium Web", Times, serif;
  }

  &:focus {
    outline: none;
  }

  @include tablet {
    margin-right: 0;
  }
}

// .item-details--hidden {
//   display: none;
// }

.invradio-buttons__instock {
  margin-right: 4rem;
  
}

.invradio-buttons__input {
  margin-right: 1rem;
}

input {
  border: none;
}

.edit__comment:focus-visible {
  outline: none;
}

.item-footer__add {
  background-color: $primary-cta-color;
  background-color: #2e66e5;
  border-radius: 20px;
  width: 11.7rem;
  padding: 0.6rem;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #232940;
  }

  @include tablet {
    width: 4rem;
    padding: 0.7rem;
    display: flex;
    border-radius: 20px;
    background-position: 20%;
    margin-top: 0.5rem;
    margin-right: 2rem;
  }

  @include desktop{
    width:6.125rem;
    height:2.375rem;;
  }
}

.item--footer--addinv {
  text-align: center;
  color: $global-color;
  font-size: 0.875rem;
  font-family: "Titillium Web", Times, serif;
  font-weight:600;
  line-height: 1.375rem;
  background-color:$primary-cta-color;
  border:none;

  @include tablet {
    display: flex;
    margin-left: 0.5rem;
    color: $global-color;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    width:6.125rem;
    height:2.375rem;
  }

  @include desktop{
    
  }
}

.item-footer__cancel {
  border: 1px solid $outline-color;
  background-color: $primary-cta-color;
  background-color: $global-color;
  border-radius: 20px;
  width: 11.7rem;
  padding: 0.6rem;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #232940;
  }

  @include tablet {
    padding: 0.7rem;
    display: flex;
    border-radius: 20px;
    margin-top: 0.5rem;
    width: 4.5rem;
    height:2.375rem;
    margin-right: 2rem;
  }

  @include desktop{
    width:4.5rem;
    height:2.375rem;
  }
}

.item-footer__canceltext {
  text-align: center;
  color: $table-placeholder-text;
}

.invitem-footer {
  display: flex;
  justify-content: space-around;
  background-color: $page-background;
  padding: 1rem;
  gap:1rem;

  @include tablet {
    justify-content: flex-end;
  }
}



.quantity{
  margin-top: 2rem;
}

.noquantity{
  display:none;
  margin-top: 2rem;
}