.header {
  background-color: #232940;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__container {
    margin: auto;
    padding: 0 1rem;
  }
}
.nav {
  display: block;
  &__item {
    text-decoration: none;
    color: white;
  }
}
