

.label {
    color: #5c667e;
    font-size: 0.8rem;
    padding-bottom: 0.33rem;
}

.warehouse-link {
  text-decoration: none;

  &__name {
    display: flex;
  }
}

.warehouse {
  border-top: 1px solid black;
  margin-top: 1rem;
  color: #13182c;
}
.warehouse-wrapper {
  display: flex;
  justify-content: space-around;
}

.location-container {
    width: 10rem;
}

.contact-container{
    width: 12rem;
}

.warehouse-container {
  padding: 0.8rem;

  &__title {
    color: #2e66e5;
    font-weight: 700;
  }
}

.address-container {
  padding: 0.8rem;

  &__title {
    width: 9rem;
  }
}

.information-container {
  padding: 0.8rem;
}
.name-container {
  padding: 0.8rem;
}
.button-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
