@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

    p{
        color: $table-placeholder-text;
        font-size: 11px;
        line-height: 16px;
        font-weight: 400;

        @include tablet {
            font-size: 12px;
            line-height: 18px;
        }
    }
}