.warehouse-list-page {
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 10px 1px #888888;
    padding-bottom: 1.33rem;
    position: relative;
    bottom: 4rem;
    background-color: white;
}

.heading {
    padding: 2.25rem 0 0.33rem 1.5rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 22px;
    width: 90%;
    margin: 1.25rem auto;


    &__input {
        margin: 0.8rem 1rem;
        border-style: none;
        border-color: white;
        color: black;
        font-size: 1rem;
    
        &:focus-visible {
          outline-color: white;
        }
      }

    &__icon {
        margin-right: 1.5rem;
    }
}

.add-warehouse {
    background-color: #2e66e6;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;

    &__text {
        color: white;
        text-align: center;
        padding: 0.75rem 0;

    }
}