@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-list-page {
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  padding-bottom: 1.33rem;
  position: relative;
  bottom: 4rem;
  background-color: $global-color;
  border-radius: 5px;

  @include tablet {
    bottom: 5.2rem;
    width: calc(100% - 4rem);
    padding-bottom: 0;
  }

  @include desktop {
    width: calc($desktop-breakpoint - 4rem);
  }
  &__header {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 2rem;
    }
  }
  &__add-button-container {
    display: flex;
  }
  &__add-button {
    display: flex;

    justify-content: center;
    flex: 1;
    text-decoration: none;
    border-radius: 23px;
    color: white;
    padding: 0.5rem 0;
    margin: 0.5rem 1rem 1.5rem 1rem;

    background-color: #2e66e6;
    transition: 0.3s all;
    &:hover {
      cursor: pointer;
      background-color: #232940;
    }
    @include tablet {
      padding: 0.5rem 1rem;
    }
  }
}

.heading {
  padding: 2rem 0 0.33rem 1.5rem;

  @include tablet {
    padding: 0;
    padding-right: 1rem;
  }
}

.buttons {
  @include tablet {
    display: flex;
    align-items: baseline;
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  border: 1px solid $outline-color;
  border-radius: 22px;
  width: 90%;
  margin: 1.25rem auto;

  @include tablet {
    width: 15rem;
  }

  &__input {
    margin: 0.8rem 1rem;
    border-style: none;
    color: $primary-text-color;
    font-size: 0.8rem;

    &::placeholder {
      font-family: "Titillium Web", Times, serif;
    }

    &:focus {
      outline: none;
    }

    @include tablet {
      margin-right: 0;
      width: 11.5rem;
    }
  }

  &__icon {
    padding-right: 1rem;
  }
}

// .add-warehouse {
//   padding: 0 2rem;
//   width: 100%;
//   margin: 0 auto;

//   @include tablet {
//     height: fit-content;
//     align-self: center;
//     width: 12rem;
//     margin-left: 2rem;
//   }

//   &__text {
//     border-radius: 23px;
//     padding: 0 2rem;

//     text-decoration: none;
//     background-color: #2e66e6;
//     color: white;
//     text-align: center;
//     padding: 0.75rem 0;
//     transition: 0.3s all;

//     &:hover {
//       cursor: pointer;
//       background-color: #232940;
//     }

//   @include tablet {
//     margin: 0 2rem;
//   //   }
//   // }
// }

.warehouse-label {
  &__text {
    transition: text-decoration-color 0.5s;
    text-decoration: underline 0.1rem rgba(0, 0, 0, 0);
    cursor: pointer;

    &:hover {
      text-decoration-color: $outline-color;
    }
  }
}

.address-label {
  &__text {
    transition: text-decoration-color 0.5s;
    text-decoration: underline 0.1rem rgba(0, 0, 0, 0);
    cursor: pointer;

    &:hover {
      text-decoration-color: $outline-color;
    }
  }
}

.contact-name-label {
  &__text {
    margin-left: 0.15rem;
    transition: text-decoration-color 0.5s;
    text-decoration: underline 0.1rem rgba(0, 0, 0, 0);
    cursor: pointer;
    &:hover {
      text-decoration-color: $outline-color;
    }
  }
}

.label--fullscreen {
  display: none;

  @include tablet {
    display: flex;
    width: 20%;
    height: fit-content;

    &:nth-child(5) {
      justify-content: center;
    }
  }
}

.contact-info-label {
  width: 24%;
  &__text {
    margin-left: 0.5rem;
    transition: text-decoration-color 0.5s;
    text-decoration: underline 0.1rem rgba(0, 0, 0, 0);
    cursor: pointer;

    &:hover {
      text-decoration-color: $outline-color;
    }
  }
}

.actions-info-label {
  @include tablet {
    width: 20%;
    display: inline;
    text-align: center;
  }
}

.fullscreen-labels {
  display: none;
  @include tablet {
    justify-content: space-around;
    background-color: #fafafa;
    padding: 0.75rem 0;
    display: flex;
    padding-left: 2rem;
    padding-right: 1rem;
    font-size: 0.75rem;
    // align-items: center;
  }
}

.sort-icon {
  width: 1rem;
  margin-left: 0.2rem;
  border-radius: 30%;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $outline-color;
  }
}
