@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

// global reset
*,
*::before,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", Times, serif;
}

// page header
h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

// sub Header
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

// Labels Links and buttons
h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  @include tablet {
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
}
